#weather-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weather-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 2rem;
/*    background: linear-gradient(to top, #512DA8, #673AB7, #B39DDB);*/
}

.weather-display .weather-temperature::after {
    content: "°C";
    font-weight: bold;
    font-size: 0.75em;
}

.bg-sun {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
}

.bg-rain {
    background-color: #6D9DC5;
    background-image: linear-gradient(147deg, #6D9DC5 0%, #1E3C72 74%);
    opacity: 0.9;
}

.bg-smog {
    background-color: #A2A2A2;
    background-image: linear-gradient(147deg, #A2A2A2 0%, #6E6E6E 74%);
    opacity: 0.8;
}

.bg-snowflake {
    background-color: #4682B4; /* Azul mais forte para contraste */
    background-image: linear-gradient(147deg, #4682B4 0%, #5A9BCF 74%);
    opacity: 0.9;
}


.weather-display label {
    display: flex;
    max-width: 50%;
    width: 100%;
    aspect-ratio: 1;
    padding: 0 10px;
    opacity: 0.3;
}

.datepicker {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 10;
    padding: 1rem;
}

.weather-display .weather-day {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.datepicker.active {
    display: block;
}

.datepicker button {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    border: none;
    background: #f3f4f6;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.2s;
}

.datepicker button:hover {
    background: #e5e7eb;
}

.datepicker button.selected {
    background: #3b82f6;
    color: white;
}

.footer{
    font-weight: bolder;
    color: white;
}

#tabelaProdutos {
    border-radius: 10px;
    overflow: hidden; 
}

#tabelaProdutos th, #tabelaProdutos td {
    padding: 12px 15px;
}
#tabelaProdutos tbody tr:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
}
#tabelaProdutos thead th {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#tabelaProdutos tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}
#tabelaProdutos th, #tabelaProdutos td {
    text-align: center;
}
#tabelaProdutos {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.styled-date {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.styled-date:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}